@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './base.css';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

/* Minimal reset/base styles if needed, mostly handled by Tailwind now */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}
